<!doctype html>
<html>
<head>
<% if(locals.user){ %>
    <script src="/vendor/base.js"></script>
    <script src="/deps.js"></script>

    <script>
      var JSGame = {
        tilesSize: 16
      };
      goog.require('GameEngine');
    </script>
    <script src="/javascript/knockout-2.1.0.js"></script>
    <script src="/engine/world.js"></script>
    <script src="/engine/tilesets.js"></script>
    <script src="/engine/layer.js"></script>
    <script src="/engine/network.js"></script>

    <script src="/socket.io/socket.io.js"></script>
<% } %>
</head>
<body>
<% if(locals.user){ %>
    <!-- On doit faire passer le jeu par l'état splash screen -->

    <p><%= user.fb.name.full %></p>

    <canvas id="canvas" width="800" height="600"></canvas>
    <script>
        var socket;
        var userData = {
            id: '<%= user.id %>',
            fbId: '<%= user.fb.id %>',
            fbName: '<%= user.fb.name.full %>',
            fbFirstName: '<%= user.fb.name.first %>'
        };
        var Game = new GameEngine();
        Game.init('canvas', function() {
        Game.changeState(Game.States.initGame);
        });
    </script>
<% }else { %>
    <h1>Splash Screen / Loading screen</h1>

    <!-- Pour l'instant..... on fera un change state plus tard -->
    <script>
        setTimeout(function(){
            window.location.href = '/login';
        }, 2000);
    </script>

<% } %>

</body>
</html>
